<h1>Edit Your Task</h1>
<article>
  <form name="edit" action="update" method="put"> <!--change this to post -->
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="<%= @task[:title] %>"/>

    <label for="description">Description</label>
    <textarea name="description" id="description"><%= @task[:description] %></textarea>

    <%# if @task[:completion] == false %>
      <label for="completed_at">Completed At:</label>
      <input type="text" name="completed_at" id="completed_at" />
    <%# end %>

    <input type="submit" name="Update Task"/>
  </form>
</article>
