<article>
  <% if flash[:notice] != nil %>
    <div class="alert center">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <h1>Your Tasks</h1>
    <ol>
    <% @tasks.each do |task| %>
      <li>
        <% if task[:completed_at] == nil %>
          <%= link_to(task.title, show_path(task[:id])) %>
        <% else %>
          <div class='done'><%= link_to(task.title, show_path(task[:id])) %></div>
        <% end %>
      </li>
    <% end %>
    </ol>
</article>
