<h1>Your Tasks</h1>
<article>
  <ol>
  <% @tasks.each do |task| %>
    <li>
      <% if task[:completed_at] == nil %>
        <%= link_to(task.title, show_path(task[:id])) %>
      <% else %>
        <div class='done'><span><%= link_to(task.title, show_path(task[:id])) %></span></div>
      <% end %>
    </li>
  <% end %>
  </ol>
</article>
