body {
  font-family: helvetica;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

h5 {
  display: inline-block;
  margin: 1.1em;
}

div {
  margin: 0 auto;

}

article {
  width: 50%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: rgb(93, 93, 93);
}

a:hover {
  opacity: .6;
}

a:visited {
  color: rgb(93, 93, 93);
}

nav {
  padding: 10px 10px;
  font-size: 1.1em;
  text-align: center;
  border-bottom: black 1px solid;
}

input[type="text"], textarea, label {
  width : 100%;
  margin: 0;
  display: block;
}

input[type="submit"] {
  margin: 0 auto;
}

footer {
  margin-top: auto;
  text-align: center;
  font-size: .7em;
  padding: 1em;
}
